<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.example.permissonlibrary"
    >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity
            android:name=".PermissionActivity"
            android:theme="@style/PermissionTheme"/>

    </application>

</manifest>
